@tailwind base;
@tailwind components;
@tailwind utilities; 

.leaflet-container {
  width: 100%;
  height: 100vh;
} */

.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#map {
  flex: 1;
  height: 100%;
  width: 100%;
  max-height: 82vh; 

}

.map-container {
  display: flex;
  flex-direction: row;
  height: 80vh; 
  width: 100%;
  overflow: hidden;
  
}

.map-title {
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: 600; /* If you still want it semi-bold */
}
